.navbar-container {
    display: flex;
    justify-content: center;
    margin: 30px 10px;
}

.navbar-container .navbar {
    padding: 7px;
    margin: 10px;
    border-radius: 2.5px;
    color: darkgray;
}

.navbar-container .navbar:hover {
    /* background-color: rgba(64, 26, 56, 0.2); rgb(39, 39, 39) */
    /* padding: 7px 10px; */
    font-weight: 600;
    color: goldenrod;
}