.navbar-container {
    display: flex;
    justify-content: center;
    margin: 20px 10px;
}

.navbar-container .navbar {
    text-decoration: none;
    padding: 7px;
    margin: 7px;
    border-radius: 7px;
}

.navbar-container .navbar:hover {
    background-color: rgba(86, 127, 160, 0.2);
    padding: 7px 10px;
    margin: 7px 10px;
}