.home-page {
    margin: 50px 100px;
}

.home-page img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.heading-text {
    margin-right: 80px;
}

.review-btn-container {
    display: flex;
    justify-content: center;
    margin: 30px 20px;
}

.less-review-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 5px 200px;
}

.less-review-container p {
    margin: 0 auto;
}

.less-review-card {
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    background-color: rgba(49, 74, 84, 0.3);
}

.less-review-card:hover {
    background-color: rgba(49, 74, 84, 0.6);
}

.review-btn {
    padding: 10px 15px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(148, 106, 148);
    color: whitesmoke;
}

.review-btn span {
    margin-right: 10px;
}

.review-btn:hover {
    background-color: rgba(192, 144, 24, 0.8);
    color: whitesmoke;
    padding: 10px 20px;
}